[submodule "waveglow"]
	path = waveglow
	url = https://github.com/NVIDIA/waveglow.git
[submodule "hifigan"]
    path = hifigan
    url = https://github.com/jik876/hifi-gan.git
[submodule "hifi-gan"]
	path = hifi-gan
	url = https://github.com/jik876/hifi-gan.git
